.project {
    width: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    background-color: #90b390;
}

.imgContainer {
    background-image: url("http://руммикс.рф/up/articles/0O9yfbTt8Qk.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 200px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.link {
    background-color: #82d082;
}

.projectTitle {
    background-color: #65bd65;
}

.projectDescription {
    text-align: left;
    padding: 20px;
    box-sizing: border-box;
}