@import '../../common/styles/saas/variables';
@import '../../common/styles/saas/mixins';


.project {
  width: 380px;
  display: flex;
  flex-direction: column;
  background-color: $bgSecondColor;
  margin: 15px 0;

  .overlayStyle {
    .imageStyle {
      width: 100%;
      height: auto;
    }

    .link {
      .a {
        .heading {
          margin-top: 10px;
          margin-bottom: 10px;
        }
      }
    }
  }
}














