@import '../../common/styles/saas/variables';
@import '../../common/styles/saas/mixins';


.project {
  width: 380px;
  display: flex;
  flex-direction: column;
  background-color: $bgSecondColor;
  margin: 20px;

  .overlayStyle #overlay {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    background: rgba(0, 0, 0, .6);
    opacity: 0;
    overflow: hidden;
    transition: all .5s;

    .v {
      &:before, after {
        content: '';
        height: 1px;
        position: absolute;
        left: 50%;
        right: 50%;
        background: #eee;
        transition: all .5s;

        &:before {
          bottom: 10%;
        }
      }

      &:after {
        top: 10%;
      }

    }

    .x {
      &:before, after {
        content: '';
        height: 1px;
        position: absolute;
        left: 50%;
        right: 50%;
        background: #eee;
        transition: all .5s;

        &:before {
          left: 10%
        }
        &:after {
          right: 10%;
        }
      }
      }

    .vMiddle {
      position: absolute;
      width: 100%;
      top: 50%;
      left: 0;
      transform: translate(0%, -50%);
    }

  }
}


/*.project {
  width: 380px;
  display: flex;
  flex-direction: column;
  background-color: $bgSecondColor;
  margin: 20px;
  .imgContainer {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;

    &::before {
      position: absolute;
      content: "";
      background-color: $headingColor;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0.4;
    }

    .link {
      background-color: $bgColor;
      padding: 10px 20px;
      position: relative;
      !*z-index: 1px;*!
    }
  }

  .projectInfo {
    padding: 25px 20px;
    background: $bgSecondColor;

    .projectTitle {
      @include text($headingFont, 22px, 700, 1.2, $headingColor);
      margin-bottom: 15px;
    }

    .projectDescription {
      @include text($mainFont, 14px, 400, 1.6,  $textColor);
      word-spacing: 1px;
      margin: 0;
    }

  }
}*/









