@import '../common/styles/saas/variables';
.header {
    height: 80px;
    background-color: $headingColor;
    display: flex;
    justify-content: flex-end; /*прибивает блок к правому краю*/
    align-items: center;       /*центрирует по OY*/
}