.contactsBlock {
    min-height: 100vh;
    background-color: #f3eaf3;
}

.contactsContainer{
    flex-direction: column;
    justify-content: flex-start;
}

.contactForm {
    width: 50%;
    background-color: #bcc0d7;
    border: 1px solid;
    display: flex;
    flex-direction: column;
   justify-content: center;
}

.contactForm input, .contactForm textarea {
    width: 100%
}

.title {
    background-color: #9df6f6;
}

.submitBtn{
    width: 150px;
    height: 50px;
}

@media screen and (max-width: 470px){
    .contactForm{
        width: 100%;
    }
}