@import '../common/styles/saas/variables';

.contactsBlock {
  min-height: 100vh;
  background-color: $bgSecondColor;

  .contactsContainer {
    flex-direction: column;
    justify-content: flex-start;

    .contactsArea {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;

      .contactInfo {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        margin-left: 70px;
        color: #666;

        .infoItem {
          font-size: 16px;
          color: #666;

          .icon {
            width: 50px;
            height: 50px;
            line-height: 50px;
            text-align: center;
            font-size: 16px;
            float: left;
            background: #222;
            color: #eee;
            border-radius: 4px;

            .iconMap {
              &::before {
                content: "\2302";
              }
            }

            .iconPhone {
              &::before {
                content: "\2706";
              }
            }

            .iconEmail {
              &::before {
                content: "\2709";
              }
            }
          }
          .infoContent{
            text-align: left;
            margin-left: 70px;
            color: #666;
          }
        }

        .socialIcons {
          display: flex;
          justify-content: space-between;
          box-sizing: border-box;
          padding: 0;
          margin: 0;

          .socialIcon {
            margin: 0 2px;
            font-size: 20px;
            text-align: center;
            transition: all .5s;
            cursor: pointer;
            width: 40px;
            height: 40px;
            line-height: 40px;
            border-radius: 50%;
            border: 1px solid #222;

            .gitHub {
              &::before {
                content: "\f09b";
              }
            }

            .codewars {
              &::before {
                content: "\f09b";
              }
            }

            .linkedin {
              &::before {
                content: "\f09b";
              }
            }

            .telegram {
              &::before {
                content: "\f09b";
              }
            }
          }
        }
      }

      .formStyle {
        overflow: hidden;

        input {
          width: 80%;
          padding: 10px;
          border: none;
          background: #f7f7f7;
          margin-bottom: 30px;
        }

        textarea {
          width: 80%;
          height: 140px;
          padding: 10px;
          border: none;
          background: #f7f7f7;
          margin-bottom: 30px;
          resize: none;
        }
      }

      @media screen and (max-width: 470px) {
        .contactsArea {
          width: 100%;
        }
      }
    }


    .submitBtn {
      width: 150px;
      height: 50px;
      background: $headingColor;
      color: #eee;
      border: none;
      transition: all .5s;
      border-radius: 4px;
    }

    .contactsArea {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}










