@import '../../common/styles/saas/variables';

.container{
    height: 100%;
    width: 80%;
    margin: 0 auto; /*это внешний отступ, первая цифра - это 0 вверху и внизу отступ, а слева и справа - автоматически*/
    display: flex; /*по умолчанию главная ось - raw*/
    align-items: center; /*двигает содержимае по второстепенной оси по центру*/
    justify-content: space-between;
    flex-wrap: wrap;
}
.title{
    background-color: blanchedalmond;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: $headingFont;
}