@import '../../common/styles/saas/variables';
@import '../../common/styles/saas/mixins';

.skill {
  width: 250px;
  background-color: $bgColor;
  display: flex;
  flex-direction: column; /*to change main axis*/
  align-items: center;
  padding: 20px;

  .skillTitle {
    @include text($mainFont, 22px, 700, 1.2, $headingColor);
  }

  .icon {
    height: 60px;
    width: 60px;
    background-color: #c1c1c1;
  }

  .description {
    @include text($mainFont, 14px, 400, 1.6, $textColor);
  }
}

