@import '../common/styles/saas/variables';

.skillsBlock {
  min-height: 100vh;
  background-color: $bgSecondColor;

  .skillsContainer {
    align-items: center; /*двигает содержимое по второстепенной оси по ценру*/
    flex-direction: column;
    justify-content: flex-start;

    .skills {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
     
    }
  }
}



