@import '../common/styles/saas/variables';

.mainBlock {
  min-height: 100vh;
  background-color: $headingColor;

  .greeting {
    width: 300px;
    text-align: left;
    h2{
      color: $bgSecondColor;
    }
    h1{
      color: $bgSecondColor;
    }
    p{
      color: $bgSecondColor;
    }
  }

  img {
    width: 300px;
    height: 400px;
  }
}




