@import '../../../common/styles/saas/variables';

.button {
    width: 150px;
    height: 50px;
    background: $headingColor;
    color: #eee;
    border: none;
    transition: all .5s;
    border-radius: 4px;
}






