.nav {
       border: 1px solid; /*толщина и тип линии*/
       width: 300px;
       display: flex; /*говорит, что исопльзуем флексы*/
       justify-content: space-between; /*рассредотачиваем ссылки так, что расстояния между словами равны*/
}