@import '../common/styles/saas/variables';

.nav {
  width: 300px;
  display: flex; /*говорит, что исопльзуем флексы*/
  justify-content: space-between; /*рассредотачиваем ссылки так, что расстояния между словами равны*/
  a {
    color: #aaa;
    text-decoration: none;
    font-family: $mainFont;
    cursor: pointer;
    &.active{
      color: $bgSecondColor
    }
  }


  }