.projectsBlock {
    height: 100vh;
    background-color: lightyellow;
}

.projectsContainer {
    align-items: center; /*двигает содержимае по второстепенной оси по ценру*/
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: bisque;
}

.projects {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.btnStyle {
    position: absolute;
}