@import '../common/styles/saas/variables';
@import '../common/styles/saas/mixins';

.footer {
  min-height: 100px;
  @include flex(raw, center, stretch, nowrap);
  background-color: $headingColor;

  .container {
    @include container();
    @include flex(column, space-between, center, nowrap);

    .title {
      @include text($headingFont, 20px, 300, 1.2, $bgSecondColor);
      align-items: center;
      margin: 10px 0px 0px;
    }
    .socialIcons {
      display: flex;
      @include flex (row, center, center, nowrap);
      box-sizing: border-box;
      padding: 0;
      margin: 5px;

      .iconStyle {
        margin: 0 2px;
        font-size: 12px;
        text-align: center;
        cursor: pointer;
        width: 40px;
        height: 40px;
        line-height: 40px;
        border-radius: 50%;
        transition: all .5s;
        &:hover{
         /* color: #111;*/
          background: $bgSecondColor;
        }
      }
    }

    span {
      @include text($mainFont, 10px, 400, 1.2, $bgSecondColor);
      padding-bottom: 10px;
    }
  }
}









