@import '../common/styles/saas/variables';
@import '../common/styles/saas/mixins';

.footer {
  min-height: 100px;
  @include flex(raw, center, stretch, nowrap);
  background-color: $headingColor;

  .container {
    @include container();
    @include flex(column, flex-start, center, nowrap);

    .title {
      @include text($headingFont, 25px, 400, 1.2, $bgSecondColor);
      align-items: center;
    }
    .socialIcons {
      display: flex;
      justify-content: space-between;
      box-sizing: border-box;
      padding: 0;
      margin: 0;

      .socialIcon {
        margin: 0 2px;
        font-size: 20px;
        text-align: center;
        transition: all .5s;
        cursor: pointer;
        width: 40px;
        height: 40px;
        line-height: 40px;
        border-radius: 50%;
        border: 1px solid #222;

        .gitHub {
          &::before {
            content: "\f09b";
          }
        }

        .codewars {
          &::before {
            content: "\f09b";
          }
        }

        .linkedin {
          &::before {
            content: "\f09b";
          }
        }

        .telegram {
          &::before {
            content: "\f09b";
          }
        }
      }
    }
    /*.socialIcons {
      width: 250px;
      background-color: $bgColor;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .socialIcon {
        width: 50px;
        height: 50px;
        background-color: #f3eaf3;

        .fa {
          display: inline-block;
          font: normal normal normal 14px/1 FontAwesome;
          font-size: inherit;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;

          .fa-linkedin:before {
            content: "\f0e1";
          }
        }

      }

    }*/

    span {
      @include text($headingFont, 14px, 400, 1.2, $bgSecondColor);
      margin-bottom: 14px;
    }
  }
}









